<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">ROMD Services</a>
        <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a
                    class="nav-link active text-light"
                    aria-current="page"
                    href="#"
                    >Home</a
                >
                <a class="nav-link text-light" href="/user">Member Panel</a>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Change Password</button>
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="password">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
